__pycache__/
console-ninja
omarchy/
.config/espanso/match/private.yml
.config/ai/mcp.local.json
.config/dotfiles/host
.opencode/bin/opencode

# Estado runtime y salidas generadas por Noctalia
.local/state/noctalia/*
!.local/state/noctalia/settings.toml
.config/alacritty/themes/noctalia.toml
.config/btop/themes/noctalia.theme
.config/gtk-3.0/noctalia.css
.config/gtk-4.0/noctalia.css
.config/kitty/themes/noctalia.conf
.config/qt5ct/colors/noctalia.conf
.config/qt6ct/colors/noctalia.conf
.config/fish/fish_variables
