@define-color text            @fg;
@define-color background-alt  @bg0;
@define-color selected        @blue;
@define-color hover           alpha(@selected, .4);
@define-color urgent          @red;
@define-color background      @bg0;

* {
  all: unset;
  color: @text;
  font-family: "JetBrains Mono Nerd Font";
  font-size: 13px;
  transition: 160ms ease;
}

/* Avoid 'annoying' backgroud */
.blank-window {  
  background: transparent;  
}
  
/* CONTROL CENTER ------------------------------------------------------------------------ */

.control-center {
  background: alpha(@background, .90);
  border-radius: 12px;
  border: none;
  box-shadow: 0 8px 24px rgba(0,0,0,.45);
  margin: 12px;
  padding: 10px;
}

/* Notifications  */
.control-center .notification-row .notification-background,
.control-center .notification-row .notification-background .notification.critical {
  background-color: @background-alt;
  border-radius: 8px;
  margin: 4px 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background {
  margin: 3px 0;
  padding: 2px;
}

.control-center .notification-row .notification-background .notification.critical {
  color: @urgent;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 4px;
  padding: 6px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
  background: alpha(@selected, .6);
  color: @text;
  border-radius: 6px;
  margin: 6px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background: @selected;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: @selected;
}

/* Buttons */

.control-center .notification-row .notification-background .close-button {
  background: transparent;
  border-radius: 3px;
  color: @text;
  margin: 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: @selected;
}

.control-center .notification-row .notification-background .close-button:active {
  background-color: @selected;
}

progressbar,
progress,
trough {
  border-radius: 6px;
}

progressbar {
  background-color: rgba(255,255,255,.1);
}

/* Notifications expanded-group */

.notification-group {
  margin: 2px 8px 2px 8px;

}
.notification-group-headers {
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  opacity: 0.85;
}

.notification-group-icon {
  color: @text;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: transparent;
  color: @text;
  margin: 4px; 
  border-radius: 3px;
  padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: @hover;
}  

/* WIDGETS --------------------------------------------------------------------------- */

  /* Notification clear button */
.widget-title {
  font-size: 1rem;
  margin: 4px 6px;
}

.widget-title button {
  padding: 2px 10px;
  border-radius: 6px;
}


.widget-title button:hover {
  background-color: @hover;
}

.widget-title button:active {
  background-color: @selected;
}

  /* Do not disturb */
.widget-dnd {
  margin: 6px;
  font-size: 1.2rem;
}

.widget-dnd > switch {
  background: @background-alt;
  font-size: initial;
  border-radius: 4px;
  box-shadow: none;
  padding: 2px;
}

.widget-dnd > switch:hover {
  background: @hover;
}

.widget-dnd > switch:checked {
  background: @selected;
}

.widget-dnd > switch:checked:hover {
  background: @hover;
}

.widget-dnd > switch slider {
  background: @text;
  border-radius: 3px;
}

  /* Buttons menu */
.widget-buttons-grid {
  font-size: x-large;
  padding: 6px 2px;
  margin: 6px;
  border-radius: 6px;
  background: @background-alt;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  margin: 4px 10px;
  padding: 6px 12px;
  background: transparent;
  border-radius: 4px;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: @hover;
}


  /* Music player */
.widget-mpris {
    background: @background-alt;
    border-radius: 8px;
    color: @text;
    margin:  20px 6px;
}

  /* NOTE: Background need *opacity 1* otherwise will turn into the album art blurred  */
.widget-mpris-player {
    background-color: @background;
    border-radius: 11px;
    padding: 6px 14px;
    margin: 6px;
}

.widget-mpris > box > button {
  color: @text;
  border-radius: 10px;
}
 
.widget-mpris button {
  color: alpha(@text, .6);
}

.widget-mpris button:hover {
  color: @text;
}

.widget-mpris-album-art {
  border-radius: 8px;
}
 
.widget-mpris-title {
    font-weight: 700;
    font-size: 1rem;
}
 
.widget-mpris-subtitle {
    font-weight: 500;
    font-size: 0.8rem;
}

picture.mpris-background {
  opacity: 0;
}

/* Volume */
.widget-volume {
  background: @background;
  color: @background;
  padding: 4px;
  margin: 6px;
  border-radius: 3px;
}