@define-color text            @foreground;
@define-color background-alt  @color1;
@define-color selected        @color3;
@define-color hover           @color5;
@define-color urgent          @color2;

* {

  /*background-alt:        @color1;      Buttons background */
  /*selected:              @color2;      Button selected */
  /*hover:                 @color5;      Hover button */
  /*urgent:                @color6;      Urgency critical */
  /*text-selected:         @background; */

  color: @text;
  font-family: "JetBrains Mono Nerd Font";
  font-size: 13px;
  transition: 160ms ease;
}

.notification-row {
  outline: none;
  margin: 0;
  padding: 0px;
}

.floating-notifications.background .notification-row .notification-background {
  background: alpha(@background, .90);
  box-shadow: 0 0 8px 0 rgba(0,0,0,.6);
  border: 1px solid @selected;
  border-radius: 12px;
  margin: 16px;
  padding: 0;
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 6px;
  border-radius: 6px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  border: 2px solid @urgent;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 14px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 4px;
  background-color: @background-alt ;
  margin: 6px;
  border: 1px solid transparent;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background-color: @hover;
  border: 1px solid @selected;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: @selected;
  color: @background;
}

.summary {
  font-weight: 800;
  font-size: 1rem;
}

.body {
  font-size: 0.8rem;
}

.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 6px;
  padding: 2px;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid transparent;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: @selected;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: @selected;
  color: @background;
}

.notification.critical progress {
  background-color: @selected;
}

.notification.low progress,
.notification.normal progress {
  background-color: @selected;
}

/* ICONS ------------------------------------------------ */
.image {
  min-width: 44px;
  min-height: 44px;
  max-width: 44px;
  max-height: 44px;

  margin: 6px 12px 6px 0;
  border-radius: 10px;
  border: 1px solid alpha(@selected, .25);
  background-color: alpha(@background, .45);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* El icono en sí */
.image > image {
  min-width: 32px;
  min-height: 32px;
  max-width: 32px;
  max-height: 32px;
}

/* Evita iconos enanos */
.app-icon {
  min-width: 44px;
  min-height: 44px;
  max-width: 44px;
  max-height: 44px;
}

.image:empty {
  background-color: alpha(@background-alt, .8);
}

.notification.no-image .image {
  display: none;
}
