@define-color foreground #cdd6f4;
@define-color background #202020;


* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 14px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#pulseaudio,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 5px;
}


#network {
  margin-right: 13px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin: 0 8.75px;
}

.hidden {
  opacity: 0;
}

#mpris {
  padding: 0 12px;
  margin: 4px 6px;
  border-radius: 8px;
  background: alpha(@foreground, 0.06);
  font-size: 13px;
  margin-left: 20px;
}

#mpris.playing {
  color: @foreground;
}

#mpris.paused {
  color: alpha(@foreground, 0.5);
}

#custom-vpn {
  padding: 0 12px;
  margin: 4px 8px;
  border-radius: 8px;
  background: alpha(@foreground, 0.06);
  font-size: 13px;
}

#custom-notification {
  font-size: 13px;
  font-family: "NotoSansMono Nerd Font";
  margin-right: 8.75px;
}