[Desktop Entry]
Name=Nextcloud
GenericName=File Synchronizer
Exec=nextcloud --background
Terminal=false
Icon=Nextcloud
Categories=Network
Type=Application
StartupNotify=false
Hidden=true
