* {
    font:                       "JetBrainsMono Nerd Font Propo 13";
}

window {
    width:                      100%;
    height:                     100%;
}

mainbox {
    padding:                    12% 14%;
}

inputbar {
    padding:                    18px;
}

listview {
    lines:                      12;
    padding:                    24px;
}

element {
    padding:                    10px;
}

element-icon {
    size:                       30px;
}
